<div class="platform__wrapper">
  <div class="search-header">
    <div class="search-header-illustration">
      <img src="bestcolleges_head.png">
      </div>

    <div class="search-header__container">
        <div class="search-header__content">
            <div class="search-header-title"><%= image_tag('/ucplogo_official.png') %>
            </div>
            <div class="search-header-meta">
              <div class="search-description">
                <h1>あなたに最適な学びを</h1>
                  <div class="overflow-text__content">
                    <p><span>Unique College Project(UCP)は、偏差値(入学難易度)でランク付けされる教育から『教育内容・充実度で評価される大学』の普及を目標とするサイトです。大学の公開する情報及びオンライン上の大学に関する情報を取得し、UCP独自の評価法によって得点化され学部ごとにランク付けしております。<br>あなたに会った最適な教育機会の出会いの場を。</span>&nbsp;
                      <br><a href="/about">Unique College Projectについて</a></p>
                  </div>
              </div><br>
            <ul class="social-share">
                <li class="social-share__button">
                  <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
                　</li>
                <li class="social-share__button">
                  <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
                  </li>
              </ul>
            </div>
          </div>
    </div>
  </div>


<div class="top_container">
  <div class="rankings_container">
    <a href="/rankings"><h1>2020 大学学部ランキング</h1></a>
      <div class="see_rankings">
        <a href="/rankings">▶️ 他学部のランキングを見る</a>
      </div>

    <div class="categories_container">
      <ul>
        <li>
          <div class="card">
            <div class="faculty_title_box">
              <div class="rankings_toppage">
                <a href="/rankings/ds"> <%= @categories_1.category_name %></a>
              </div>
            </div>
            <br>
            <div class="faculty_contents">
              <div class="faculty_illustration">
                <img src="title_header_ds.png">
              </div>
              <div class="card_inner" href="/rankings/ds">
                <%= @categories_1.intro %>
                <br><a href="/rankings/ds"> ・・・ランキングを見る</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <div class="faculty_title_box">
              <div class="rankings_toppage">
                <a href="/rankings/ds"> <%= @categories_2.category_name %></a>
              </div>
            </div>
            <br>
            <div class="faculty_contents">
              <div class="faculty_illustration">
                <img src="ucplogo_official.png">
              </div>
              <div class="card_inner" href="/rankings/ds">
                <%= @categories_2.intro %>
                <br><a href="/rankings/ds"> ・・・ランキングを見る</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <div class="faculty_title_box">
              <div class="rankings_toppage">
                <a href="/rankings/ds"> <%= @categories_3.category_name %></a>
              </div>
            </div>
            <br>
            <div class="faculty_contents">
              <div class="faculty_illustration">
                <img src="ucplogo_official.png">
              </div>
              <div class="card_inner" href="/rankings/ds">
                <%= @categories_3.intro %>
                <br><a href="/rankings/ds"> ・・・ランキングを見る</a>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="picks_container">
  <a href="/picks"><h1>Picks: 注目の大学・学部</h1></a>
  <div class="see_articles">
    <a href="https://ucpjapan.com/category/ucp-picks">▶️ 他の記事をみる</a>
  </div>
  <div class="articles_container">
    <ul>
      <li>
        <div class="card">
          <a href="https://ucpjapan.com/theranking">
          <img src="https://ucpjapan.com/wp-content/uploads/2020/02/sincerely-media-dGxOgeXAXm8-unsplash-scaled.jpg">
          <br><h3>THEランクイン大学数世界第２位　<br> -日本の大学の成長と課題-</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="card">
          <a href="https://ucpjapan.com/chiba-centerforfrontierscience">
          <img src="https://ucpjapan.com/wp-content/uploads/2020/02/alex-radelich-2gYsZUmockw-unsplash-scaled.jpg">
          <br><h3>千葉大学　先進科学プログラム</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="card">
          <a href="https://ucpjapan.com/theranking">
          <img src="https://ucpjapan.com/wp-content/uploads/2020/02/sincerely-media-dGxOgeXAXm8-unsplash-scaled.jpg">
          <br><h3>THEランクイン大学数世界第２位　<br> -日本の大学の成長と課題-</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="card">
          <a href="https://ucpjapan.com/theranking">
          <img src="https://ucpjapan.com/wp-content/uploads/2020/02/sincerely-media-dGxOgeXAXm8-unsplash-scaled.jpg">
          <br><h3>THEランクイン大学数世界第２位　<br> -日本の大学の成長と課題-</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="card">
          <a href="https://ucpjapan.com/theranking">
          <img src="https://ucpjapan.com/wp-content/uploads/2020/02/sincerely-media-dGxOgeXAXm8-unsplash-scaled.jpg">
          <br><h3>THEランクイン大学数世界第２位　<br> -日本の大学の成長と課題-</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="card">
          <a href="https://ucpjapan.com/theranking">
          <img src="https://ucpjapan.com/wp-content/uploads/2020/02/sincerely-media-dGxOgeXAXm8-unsplash-scaled.jpg">
          <br><h3>THEランクイン大学数世界第２位　<br> -日本の大学の成長と課題-</h3>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

</div>
