<div class="platform__wrapper">
    <div class="picks_container">
        <h1>PICKS! 注目の大学 </h1>
        <div class="articles_container">
            <a class="article"><%= image_tag "/title_header_ds.png"%></a>
            <a class="article"><%= image_tag "/title_header_ds.png"%></a>
            <a class="article"><%= image_tag "/title_header_ds.png"%></a>
            <a class="article"><%= image_tag "/title_header_ds.png"%></a>
            <a class="article"><%= image_tag "/title_header_ds.png"%></a>
            <a class="article"><%= image_tag "/title_header_ds.png"%></a>
        </div>
        <a class="see_articles" href="https://ucpjapan.com/category/ucp-picks">▶️ 他の記事をみる</a>
    </div>
</div>